<div class="password">
  <asfe-label
    [label]="label"
    [required]="required"
    [isFloat]="isFloating || !!value"
  ></asfe-label>
  <input
    [type]="type"
    [value]="value"
    [autocomplete]="autocomplete"
    [placeholder]="placeholder"
    (blur)="blur()"
    (focus)="isFloating = true"
    (blur)="onTouch()"
    (input)="onInputValueChanges($event)">
</div>
<asfe-error *ngIf="!!error && touched" [errors]="error"></asfe-error>

<ng-content></ng-content>

<div *ngIf="showToggle" class="password-toggle">
  <asfe-checkbox [formControl]="switcherControl" [label]="toggleText"></asfe-checkbox>
</div>


