@import 'src/assets/styles/colors.scss';

:host {
  user-select: none;
  pointer-events: none;
}

label {
  user-select: none;
  pointer-events: none;
  color: #757575;
  font-size: 14px;
  transition: .4s;

  &.floating {
    top: 10px;
    font-size: 12px;
    color: $main-dark-color;
    font-weight: 500;
  }
}
