$main-primary-color: var(--main-primary-color);
$main-dark-color: var(--main-dark-color);
$main-light-color: var(--main-light-color);
$main-secondary-color: var(--main-secondary-color);
$main-three-color: var(--main-three-color);

$main-primary-text-color: var(--main-primary-text-color);
$main-dark-text-color: var(--main-dark-text-color);
$main-light-text-color: var(--main-light-text-color);

$box-shadow-color: var(--box-shadow-color);
$box-shadow-color-border: var(--box-shadow-color-border);
